PROJECT_ROOT='/workspace/terraform-beginner-bootcamp-2023'


# DO NOT COMMIT THIS TO YOUR REPO!!!!!!

export TERRAFORM_CLOUD_TOKEN='nzfj8mbIRkvKsA.atlasv1.VEOIG0WrpzAgx0gMx0dQue4fSgmsutLTVM7yfsMA2hjnSzckkp3D0RwLRIz9Iqz5uto'
export AWS_SECRET_ACCESS_KEY='EXAMPLE ACCESS KEY'
export AWS_DEFAULT_REGION='us-east-1'
gp env AWS_ACCESS_KEY_ID='EXAMPLE ID'
gp env AWS_SECRET_ACCESS_KEY='EXAMPLE ACCESS KEY'
gp env AWS_DEFAULT_REGION='us-east-1'


TERRAFORM_CLOUD_TOKEN='YOUR SECRET TERRAFORM CLOUD TOKEN'